@CHARSET "UTF-8";
body, hr, blockquote,
dl, dt, dd,
pre,
fieldset, lengend, button, input, textarea,
th, td {
    margin: 0;
    padding: 0;
}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section {
	display: block
}
html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%
}
sub,sup {
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline
}

sup {
	top: -0.5em
}

sub {
	bottom: -0.25em
}

img {
	max-width: 100%;
	width: auto\9;
	height: auto;
	vertical-align: middle;
	border: 0;
	-ms-interpolation-mode: bicubic
}

button,input,select,textarea {
	margin: 0;
	font-size: 100%;
	vertical-align: middle
}

button,input {
	*overflow: visible;
	line-height: normal
}

button::-moz-focus-inner,input::-moz-focus-inner {
	padding: 0;
	border: 0
}

button,html input[type="button"],input[type="reset"],input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer
}

label,select,button,input[type="button"],input[type="reset"],input[type="submit"],input[type="radio"],input[type="checkbox"] {
	cursor: pointer
}

input[type="search"] {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-appearance: textfield
}

input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none
}

textarea {
	overflow: auto;
	vertical-align: top;
	resize: vertical;
	outline: 0
}

input[type="text"],input[type="email"],input[type="url"],input[type="password"],textarea {
	padding: 5px;
	border: 1px solid #ccc;
	width: 100%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: 0
}
input:focus,textarea:focus{
	border-color: rgba(60,60,70,0.5);
}
pre,code {
	background:#F3F3F0;
	font-family:Menlo,Monaco,Consolas,"Lucida Console","Courier New",monospace;
	font-size:.92857em;
}
code {
	padding:2px 4px;
	color:#B94A48;
}
pre {
	padding:10px;
	overflow:auto;
}
pre code {
	padding:3px;
	color:#444;
}
blockquote {
	margin:1em 1.5em;
	padding-left:1.5em;
	border-left:4px solid #f2f2f2;
}
body {
	font: 14px/1.5 "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
	color: #000;
	_background-color:#E2E2E2;
}
.flowhd{
	overflow:hidden;
}
.hide{display:none;}
a:link, a:visited, a:active {
    color: #778087;
    text-decoration: none;
    word-break: break-all;
}

a:hover {
    color: #4d5256;
    text-decoration: underline;
}
a.tab:link, a.tab:visited, a.tab:active {
    display: inline-block;
    font-size: 13px;
    line-height: 13px;
    padding: 5px 8px;
	margin:-5px 5px -5px 0;
    _margin-right: 5px;
    border-radius: 3px;
    color: #555;
}

a.tab:hover {
    background-color: #f5f5f5;
    color: #000;
    text-decoration: none;
}

a.node:link, a.node:visited, a.node:active {
    background-color: #f5f5f5;
    font-size: 10px;
    line-height: 10px;
    display: inline-block;
    padding: 4px 4px 4px 4px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    text-decoration: none;
    color: #999;
}

a.node:hover {
    text-decoration: none;
    background-color: #e2e2e2;
    color: #777;
}
ul {
  list-style: square;
  margin: 1em 0px 1em 1em;
  padding: 0px;
}
.fl{float:left;}
.fr{float:right;}
.mr10{margin-right:10px;}
.vab{
	vertical-align: bottom;
}
.gray {
    color: #999;
}

.fade {
    color: #ccc;
}

.snow {
    color: #e2e2e2;
}

.green {
    color: #393;
}

.blue {
    color: #485CC7;
}
.positive {
  	color: #0AA31C;
}
.red{
	color:#E74C3C;
}
.f11 {
    font-size: 11px;
}
.f12 {
    font-size: 12px;
}
.f13 {
    font-size: 13px;
}
.f14 {
    font-size: 14px;
}
#ui-alert{
	position:fixed;
	left:0;
	right:0;
	top:37px;
	padding: 8px 0;
	color: #3C763D;
	background-color: #DFF0D8;
	text-align: center;
}
#ui-alert.alert-error{
	background-color: #FBE3E4;
	color: #8A1F11;
}
#ui-alert a{
	color: #3C763D;
	text-decoration: underline;
	font-weight: bold;
}
#ui-alert.alert-error a {
	color: #8A1F11;
}
.browsehappy {
	padding:8px 0;
	background:#FBE3E4;
	color:#8A1F11;
	text-align:center;
}
.browsehappy a {
	color:#8A1F11;
	text-decoration:underline;
	font-weight:bold;
}
.btn{
	background-color: #f2f2f2;
	color: #333;
	box-shadow: 0px 1px 0px rgba(66, 66, 77, 0.1);
	border: 1px solid rgba(60,60,70,0.3);
	padding: 4px 10px 4px 10px;
	border-bottom-color: rgba(80, 80, 90, 0.35);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.btn:hover{
    text-decoration: none;
	border: 1px solid rgba(60,60,70,0.5);
	background-color: #eee;
}
.btn:disabled{
	border: 1px solid rgba(60,60,70,0.5);
	background-color: #eee;
	color:#999;
}
.btn.large{
	padding:11px 19px;
	font-size:14px;
}
.btn.block{
	display:block;
	text-align:center;
	width:100%;
}

.btn.s1{
	background-color:#888;
	color:#fff;
	border-color:#888;
}
.btn.s1:hover{
	border-color:#7D7D7D;
	background-color:#7D7D7D;
}
.btn.s2{
	background-color:#ff9600;
	color:#fff;
	border-color:#ff9600;
}
.btn.s2:hover{
	border-color:#ff7e00;
	background-color:#ff7e00;
}
.btn.s3{
	color:#fff;
	border-color:#10A64F;
	background-color:#10A64F;
}
.btn.s3:hover{
	border-color:#0c843f;
	background-color:#0c843f;
}
.error-page{
	min-height:300px;
	margin-top:100px;
}
.hide{
	display:none;
}
.clearfix{zoom:1;}
.clearfix:before,.clearfix:after{content:" ";display:table;}
.clearfix:after{clear:both;}
.alignleft{text-align:left;}
.aligncenter{text-align:center;}
.alignright{text-align:right;}

.wp{
	width:970px;
	margin:0 auto;
}

img.avatar{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

/* top-bar */
#top-bar{
	position:fixed;
	left:0;right:0;
	z-index:1024;
	background-color:#fff;
	height:36px;
	line-height:36px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}
#top-bar a{
	color:#556;
}
#top-bar a:hover{
	color: #99a;
    text-decoration: none;
}
.top-logo{
	display:inline-block;
	width:70px;
	height:32px;
	text-indent:-9999px;
	margin-top:2px;
	margin-right:10px;
	background:url('../img/logo.png') no-repeat;
}
.top-user a{
	margin:0 5px;
	font-size:14px;
}
.top-srh{
	width:300px;
}
#search {
	position:relative;
	width:100%;
	height:32px;
}
#search input {
	padding:2px 30px 2px 10px;
	margin:0;
	line-height:28px;
	height:28px;
	outline:none;
}
#search button {
	position:absolute;
	right:1px;
	top:6px;
	padding:0;
	width:32px;
	height:26px;
	direction:ltr;
	background:#fff url('../img/icon-search.png') center center no-repeat;
	text-indent:-9999px;
	border:none;
}
.box{
	background-color: #FFF;
	border-radius: 3px;
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid #E2E2E2;
	margin-bottom:15px;
}
.box .head{
	padding: 10px;
	font-size: 14px;
	line-height: 120%;
	border-bottom: 1px solid #E2E2E2;
	overflow: auto;
}
.box .cell{
	padding: 10px;
	margin:0;
	font-size: 12px;
	line-height: 16px;
	border-bottom: 1px solid #E2E2E2;
}
.box .cell.p0,.box .cell .p0{
	padding:0;
}
.box .cell.m0,.box .m0{
	margin:0 0 10px;
}
.box .cell.page{
	padding: 10px 20px;
}
.box > .cell:last-child{
	border-bottom:none;
}

.box .inner{
	padding: 10px;
	margin: 0;
	font-size: 12px;
	line-height: 160%;
	text-align: left;
}
.cell-tabs{
  padding: 10px 10px 0px 10px;
}
.cell-tabs a.tab{
	font-size: 14px;
	border-bottom: 3px solid rgba(0, 0, 0, 0);
	display: inline-block;
	text-decoration: none;
	margin: 0 0 0 15px;
	padding: 0px 5px 5px 5px;
	border-radius: 0;
	color: #99A;
}
.cell-tabs a.tab:hover{
	background:none;
	border-color: #ccc;
}
.cell-tabs a.tab.current{
	border-color: #778087;
}
.cell-gird > .gird-item{
	transition: box-shadow 0.2s;
	display:inline-block;
	width:25%;
	text-align:center;
	padding:20px 0;
	margin:0;
}
.cell-gird > a.gird-item:hover{
	background-color: #f0f0f0;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.08) inset;
    cursor: pointer;
    text-decoration: none;
}
.cell-gird > .gird-item span{
	display:block;
}
#body{
	min-height:560px;
	padding:56px 0 20px;
	background-color:#E2E2E2;
}
#main{
	width: auto;
	margin: 0px 290px 0px 0px;
}
#sidebar{
	width: 270px;
	float: right;
}
.nodes,.nodes-item{
	overflow:hidden;
}
.nodes .fade{
	float:left;
	display: table;
	width:60px;
	text-align:right;
	margin-right:10px;
}
.nodes-item a{
	font-size:14px;
	line-height:24px;
	margin:0 5px;
}
.post{
	position:relative;
}
.post-avatar{
	float:left;
	margin-right:10px;
}
.post-avatar img{
	width:48px;
	height:48px;
}
.head .post-avatar{
	margin:-10px 0 0 10px;
}
.head .post-avatar img{
	width:72px;
	height:72px;
}
h1.post-title{
	font-size: 24px;
	font-weight: 500;
	line-height: 150%;
	margin: 10px 0 0;
	font-size:22px;
}
h2.post-title{
	margin:0;
	font-weight:400;
}
h2.post-title a{
	display:block;
	padding-right:40px;
}
.post-title a{
	font-size: 16px;
	line-height: 130%;
	text-shadow: 0px 1px 0px #FFF;
	word-wrap: break-word;
	hyphens: auto;
}
.post-content,.post-content p{
	font-size:14px;
	line-height:1.4;
	color: #000;
	word-break: break-all;
	word-wrap: break-word;
}
.post-meta{
	overflow:hidden;
	list-style:none;
	padding:7px 0 3px;
	margin:0;
	color:#ccc;
}
.post-meta li{
	float:left;
}
.post-meta a{
	color:#ccc;
	font-size:12px;
}
.post-reply{
	position:absolute;
	top:24px;
	right:10px;
}
.post-reply a{
	display:inline-block;
	background-color: #AAB0C6;
	font-weight: bold;
	line-height:12px;
	color: #FFF;
	padding: 2px 10px 2px 10px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}

.head .post-tags,.inner .post-tags{
	margin:-4px -5px 0px 0px;
}
.tag{
	padding: 5px 10px;
	line-height: 100%;
	background-color: #F0F0F0;
	border-radius: 10px;
	margin: 0px 5px 5px 0;
	display: inline-block;
}
.tag i{
	color:#ddd;
}
.tag:hover{
	background-color: #AAB0C6;
	color:#fff;
	text-decoration: none;
}
.box .pager{
	overflow:hidden;
	text-align:center;
	color:#ccc;
	font-weight:800;
}

.user-widget .avatar{
	margin-right:10px;
}
.user-widget .user-nickname{
	line-height:48px;
	font-size:16px;
}
.user-widget .user-stat>a{
	display:inline-block;
	width:20%;
	border-right:1px solid #808080;
	margin: 5px 0;
}
.user-widget .user-stat>a.stat-item{
	width:26%;
}
.user-widget .user-stat>a.right{
	border-right:none;
}
.user-widget .user-stat>a:hover{
	text-decoration: none;
}
.user-widget .user-stat span{
	display:block;
	width:100%;
}
.credits-area{
	color: #000;
    font-size: 11px;
    line-height: 16px;
    padding: 3px 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: #666;
    text-shadow: 0px 1px 0px white;
    display: inline-block;
    margin: -4px -5px 0px 0px;
    background: #f5f5f5;
    background: -moz-linear-gradient(top, #f5f5f5 0%, #e2e2e2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#e2e2e2));
    background: -webkit-linear-gradient(top, #f5f5f5 0%,#e2e2e2 100%);
    background: -o-linear-gradient(top, #f5f5f5 0%,#e2e2e2 100%);
    background: -ms-linear-gradient(top, #f5f5f5 0%,#e2e2e2 100%);
    background: linear-gradient(top, #f5f5f5 0%,#e2e2e2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e2e2e2',GradientType=0 );
}
a.credits-area:hover{
	text-decoration: none;
    color: #333;
    color: #000;
    
    background: #f9f9f9;
    background: -moz-linear-gradient(top, #f9f9f9 0%, #f0f0f0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#f0f0f0));
    background: -webkit-linear-gradient(top, #f9f9f9 0%,#f0f0f0 100%);
    background: -o-linear-gradient(top, #f9f9f9 0%,#f0f0f0 100%);
    background: -ms-linear-gradient(top, #f9f9f9 0%,#f0f0f0 100%);
    background: linear-gradient(top, #f9f9f9 0%,#f0f0f0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#f0f0f0',GradientType=0 );
}
/* reply */
.noreply{
	padding:0 0 20px;
	background-color:#E2E2E2;
	text-align:center;
}
.noreply p{
	border:2px dashed rgba(0, 0, 0, 0.1);
	margin:0;
	padding:10px;
	font-size:12px;
	color:rgba(0, 0, 0, 0.25);
}
#comments .cell{
	overflow:hidden;
}

#comments .reply-level-0 .cell{
	padding-left:20px;
}
#comments .reply-level-1 .cell{
	padding-left:30px;
}
#comments .reply-level-2 .cell{
	padding-left:40px;
}
#comments .avatar{
	width:48px;
	height:48px;
}
#comments p{
	margin:0;
}
.reply-avatar{
	margin-right:10px;
}
.reply-time{
	margin:0 5px;
}
.reply-content{
	margin-top:5px;
	overflow:hidden;
	font-size: 14px;
	line-height: 1.6;
	color: #000;
	word-break: break-all;
	word-wrap: break-word;
}


#comment-form textarea:focus{
	border: 1px solid rgba(60,60,70,0.3);
}

.page-navigator{
	list-style:none;
	text-align:center;
}
.page-navigator li{
	display:inline-block;
	margin:0 5px;
}
.page-navigator a,.pager a{
	background-color: #FFF;
	color: #333;
	text-shadow: 0px 1px 0px #FFF;
	box-shadow: 0px 1px 0px rgba(66, 66, 77, 0.1);
	padding: 4px 10px 4px 10px;
	border: 1px solid rgba(80, 80, 90, 0.2);
	border-bottom-color: rgba(80, 80, 90, 0.35);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.pager a{
	padding: 4px 15px 4px 15px;
}
.pager .prev{
	float:left;
}
.pager .next{
	float:right;
}
.pager a:hover,.page-navigator a:hover,.page-navigator .current a{
	background-color: #f2f2f2;
    text-shadow: 0px 1px 0px #fff;
    text-decoration: none;
    box-shadow: 0px 1px 0px rgba(66, 66, 77, 0.1);
	border: 1px solid rgba(60,60,70,0.3);
}
/* publish */
.publish .tips p{
	margin:0 0 5px;
}
.publish .title{
	border: none;
	resize: none;
	background-color: #F9F9F9;
	outline: none;
	font-size: 14px;
	line-height: 20px;
	padding: 10px;
	font-family: 'Helvetica Neue', 'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
	margin: 0px;
}
.publish .title:focus{
	background-color:#fff;
}
.topic-select-btn{
  background-color: #FFF;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #EEE), color-stop(0.5, #FFF));
  background-image: -webkit-linear-gradient(center bottom, #eeeeee 0%, white 50%);
  background-image: -moz-linear-gradient(center bottom, #eeeeee 0%, white 50%);
  background-image: -o-linear-gradient(bottom, #eeeeee 0%, #ffffff 50%);
  background-image: -ms-linear-gradient(top, #eeeeee 0%, #ffffff 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#ffffff', GradientType = 0);
  background-image: linear-gradient(top, #eeeeee 0%, #ffffff 50%);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #AAA;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  height: 26px;
  line-height: 26px;
  width:260px;
  padding: 0 0 0 8px;
  color: #444;
  text-decoration: none;
}
div.tagsinput {
    background-color: #F9F9F9;
    padding: 10px;
	max-height:180px;
    overflow: hidden;
}
div.tagsinput:focus,div.tagsinput:hover{
	background-color: #fff;
}
div.tagsinput span.tag {
	float:left;
    text-decoration: none;
    margin: 0 5px 0;
    font-family: helvetica;
    font-size: 12px;
}
div.tagsinput span.tag a {
    font-weight: bold;
    text-decoration: none;
    font-size: 11px;
	float:right;
}
div.tagsinput input {
    margin: 0px;
    font-family: helvetica;
    font-size: 13px;
    border: 1px solid transparent;
    background: transparent;
    color: #000;
    outline: 0px;
    margin-right: 5px;
}
div.tagsinput div {
    display: block;
    float: left;
}.tags_clear {
    clear: both;
    width: 100%;
    height: 0px;
}.not_valid {
    background: #FBD8DB ! important;
    color: #90111A ! important;
}
/* account */
#accounts-form{
	width:300px;
	margin:0 auto;
}
form .field{
	margin-bottom:10px;
}
form .field label{
	line-height:24px;
}
.user-form .field{
	overflow:hidden;
}
.user-form .field label{
	width:120px;
	margin-right:10px;
	text-align:right;
	float:left;
}
.user-form .field label.remember{
	margin-left:130px;
	text-align:left;
}
.user-form .field .field-ipt{
	float:left;
	width:300px;
}
.sns-btn .btn{
	display:block;
	filter:alpha(opacity=70);
	-moz-opacity:0.7;
	opacity:0.7;
	margin:0 5px 10px;
	text-align:center;
	color:#fff;
	overflow:hidden;
}
.sns-btn .btn-weibo{
	background-color:#ed4848;
	border-color:#ed4848;
}
.sns-btn .btn-weibo:hover{
	background-color:#ed4848;
	border-color:#ed4848;
}
.sns-btn .btn-qq{
	background-color:#349fe6;
	border-color:#349fe6;
}
.sns-btn .btn-wechat{
	background-color:#609700;
	border-color:#609700;
}
.sns-btn .btn-qq:hover{
	background-color:#349fe6;
	border-color:#349fe6;
}
.sns-btn .btn-weibo:hover,.sns-btn .btn-qq:hover,.sns-btn .btn-wechat:hover{
	filter:alpha(opacity=100);
	-moz-opacity:1;
	opacity:1;
}
.sns-btn .btn.active:hover i.fa:before{
	content: "\f00d";
}

.user-meta .avatar {
	margin-right:10px;
}
.user-meta .user-title{
	font-size:24px;
	font-weight:500;
	line-height: 150%;
	margin: 0px;
	padding: 0px;
}
/* table */
.table{
	width:100%;
	border-spacing: 0;
	border-collapse: collapse;
}
.table th{
	text-align: left;
	font-size: 12px;
	font-weight: bold;
	border:none;
	padding:5px;
	text-align:center;
	border-right: 1px solid #CCC;
	border-bottom: 2px solid #CCC;
	text-shadow: 0px 1px 0px #FFF;
	background: #F5F5F5;
	background: -moz-linear-gradient(top, #f5f5f5 0%, #e2e2e2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F5F5F5), color-stop(100%,#E2E2E2));
	background: -webkit-linear-gradient(top, #F5F5F5 0%,#E2E2E2 100%);
	background: -o-linear-gradient(top, #f5f5f5 0%,#e2e2e2 100%);
	background: -ms-linear-gradient(top, #f5f5f5 0%,#e2e2e2 100%);
	background: linear-gradient(top, #f5f5f5 0%,#e2e2e2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e2e2e2',GradientType=0 );
}
.table td{
	padding:5px;
	text-align: left;
	font-size: 12px;
	font-weight: normal;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
}
/* footer */
.fixed-btn {
	position: fixed;
	right: 50%;
	margin-right:-530px;
	bottom: 40px;
	width:42px;
	background-color: #FFF;
	z-index: 1040;
	-webkit-backface-visibility: hidden;
}
.fixed-btn a {
	display:inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border: 1px solid #e9e9e9;
	border-bottom:none;
}
.fixed-btn a:last-child{
	border-bottom: 1px solid #e9e9e9;
}
#footer{
	border-top: 1px solid rgba(0, 0, 0, 0.22);
	background-color: #FFF;
	text-align: left;
	color: #999;
	padding:10px;
	font-size:12px;
	line-height:18px;
}
#footer .foot-nav a{
	font-weight:700;
	margin:0 5px;
}